<html>
    <head>
        <title>Network Tools</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <style>
            * { font-family: 'VT323', 'Courier New', monospace; }
        </style>
        <body>
            <div class="container">
                <h1>APCSP Network Tools</h1>
            </div>
        </body>
    </head>
</html>